@CHARSET "ISO-8859-1";

.insideCenter{
	text-align: center;
}

.parentCenter{
	left: 50%;
	top: 50%;
}

.fullWidth{
	width: 100%; 
}

.boutonOnglet{
	width: 25%;
	height: 25px;
	background-color: rvb(120, 120, 120);
	text-align: center;	
}